body {
    margin:0;
}
a {
    color:black;
    text-decoration: none;
}
h1 {
    font-size:45px;
    text-align:center;
    border-bottom:5px solid lightblue;
    margin:0;
    padding:20px;
}
ol {
    border-right:5px solid lightblue;
    width:100px;
    margin:0;
    padding:20px;
    padding-left:30px;
}
li {
    font-size: 18px;
    color: darkblue;
    font-weight: bold;
}
#list {
    color:darkblue;
    font-weight: bold;
}
#grid {
    display:grid;
    grid-template-columns: 150px 1fr;
}
#article{
    padding-left:25px;
}
@media(max-width:800px){
    #grid {
        display:block;
    }
    ol {
        border-right:none;
    }
    h1 {
        border-bottom:none;
    }
}
